<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkXtMXAegaMDraPkjXyCla60d-veBLCJc</string>
	<key>GCM_SENDER_ID</key>
	<string>699526236232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartHomeAnimation</string>
	<key>PROJECT_ID</key>
	<string>conference-5c395</string>
	<key>STORAGE_BUCKET</key>
	<string>conference-5c395.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699526236232:ios:c380a1a873346d2302f07d</string>
</dict>
</plist>